<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav mode="side" [opened]="!iisSidenavOpen" class="custom-sidenav">
    <mat-toolbar class="logo-toolbar custom-logo-bar">
      <img src="assets/AppLogo.jpg" alt="Logo" class="full-logo" />
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/app/freshlead']" routerLinkActive="active" (click)="isSidenavOpen = !isSidenavOpen">
        <span class="material-symbols-outlined">group</span>
        @if (isSidenavOpen) {
          <span class="fontcolor">Fresh Lead</span>
        }
      </a>

      <a mat-list-item [routerLink]="['/app/profile']" routerLinkActive="active" (click)="isSidenavOpen = !isSidenavOpen">
        <span class="material-symbols-outlined">account_circle</span>
        @if (isSidenavOpen) {
          <span class="fontcolor">Profile</span>
        }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="welcome-text">Welcome to WEpayLoan!</span>
      <span class="spacer"></span>

      <div class="profile-logout-container">
        <label class="profile-upload">
          <img [src]="profileImageUrl || 'assets/default-avatar.png'" alt="" />
          <input type="file" (change)="onFileSelected($event)" hidden />
        </label>

        <button mat-button class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-toolbar>

    <div class="content" style="padding: 0px;">
      
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>