

.sidenav-container {
    height: 100vh;
  }
  
  mat-expansion-panel.submenu {
    background: transparent;
    box-shadow: none;
  }
  
  mat-expansion-panel-header {
    padding: 0 16px;
  }
  
  mat-icon {
    vertical-align: middle;
    font-size: 20px !important;
  }
  
  /* Navbar container */
  .setnavbarcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Sidenav style */
  .custom-sidenav {
    background: linear-gradient(135deg, #10b981, #3b82f6);
    color: black;
  }
  
  /* Top toolbar style */
  .custom-toolbar {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #10b981, #3b82f6);
    padding: 0 16px;
    height: 64px;
    justify-content: space-between; /* Space between logo and right side */
    width: 100%;
  }
  
 
  
  
  /* Logo styles */
  .logo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 160px;
  }
  
  .full-logo {
    width: 55px;
    height: 55px;
    object-fit: cover;
    display: block;
  }
  
  /* Right side container (for search, profile, logout) */
  .right-side {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push everything to the right */
  }
  
  .custom-search-box {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #cbd4d1);
    border-radius: 10px;
    padding: 6px 1px;
    margin-left: 700px;
    width: 200px;
  }
  
  .custom-search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    padding: 2px;
    margin-right: 8px;
    width: 100%;
  }
  
  .search-icon {
    color: #666;
    margin-right: 8px;
  }
  
  /* Profile picture */
  .profile-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  .profile-logout-container {
    display: flex;
    align-items: center;
    gap: 12px; /* Adjust spacing between profile and logout button */
  }
  .material-symbols-outlined {
    font-size: 24px; /* Change this value to adjust the icon size */
    padding: 10px;
  }
  
  .profile-upload img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
    border: 2px solid white;
  }
  
  /* Logout button */
  .logout-button {
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: 0px solid white;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Override toolbar logo */
  .custom-logo-bar {
    justify-content: center;
    background: linear-gradient(135deg, #10b981, #3b82f6);
    padding: 0;
    height: 60px;
  }
  
  /* Add content padding to adjust for the fixed toolbar */
  .content {
    padding-top: 64px; /* Add padding to the top of your content to avoid overlap */
  }
  .welcome-text {
    margin-left: 8px; /* adjust as needed */
    font-weight: 10px;
    font-size: 20px;
    color: rgb(232, 229, 224);
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  