<h2 mat-dialog-title>Update Application Details</h2>

<form [formGroup]="loanupdate" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="dialog-content">
    <div class="form-grid">

      <mat-form-field appearance="outline">
        <mat-label>Purpose</mat-label>
        <mat-select formControlName="purpose">
          <mat-option value="Medical Emergency">Medical Emergency</mat-option>
           <mat-option value="Wedding Expenses">Wedding Expenses</mat-option>
          <mat-option value="Immediate Purchase">Immediate Purchase</mat-option>
          <mat-option value="Immedaite Commitement">Immedaite Commitement</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Monthly Income</mat-label>
        <mat-select formControlName="monthlyIncome">
          <mat-option value="0-35,000">0-35,000</mat-option>
          <mat-option value="51,000-1,00,000">51,000-1,00,000</mat-option>
          <mat-option value="30,000 - 50,000">30,000 - 50,000</mat-option>
          <mat-option value="50,000 - 1,00,000">50,000 - 1,00,000</mat-option>
          <mat-option value="1,00,000+">Above 1,00,000</mat-option>
          <mat-option value="36,000-50,000">₹6,000-₹50,000</mat-option>
          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Loan Required</mat-label>
        <mat-select formControlName="loanRequired">
          <mat-option value="0-35,000">0-35,000</mat-option>
          <mat-option value="36,000-50,000">36,000-50,000</mat-option> 
          <mat-option value="1,00,000+"> Above 1,00,000</mat-option>
          <mat-option value="35,000-50,000">35,000-50,000</mat-option>
          <mat-option value="50,000-65,000">50,000-65,000</mat-option>
          <mat-option value="51,000-1,00,000">51,000-1,00,000</mat-option>
          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option value="1">Andhra Pradesh</mat-option>
          <mat-option value="2">Arunachal Pradesh</mat-option>
          <mat-option value="3">Assam</mat-option>
          <mat-option value="4">Bihar</mat-option>
          <mat-option value="5">Chandigarh</mat-option>
          <mat-option value="6">Chhattisgarh</mat-option>
          <mat-option value="7">Dadra and Nagar Haveli and Daman and Diu</mat-option>
          <mat-option value="8">Delhi</mat-option>
          <mat-option value="9">Goa</mat-option>
          <mat-option value="10">Gujarat</mat-option>
          <mat-option value="11">Haryana</mat-option>
          <mat-option value="12">Himachal Pradesh</mat-option>
          <mat-option value="13">Jammu and Kashmir</mat-option>
          <mat-option value="14">Jharkhand</mat-option>
          <mat-option value="15">Karnataka</mat-option>
          <mat-option value="16">Kerala</mat-option>
          <mat-option value="17">Ladakh</mat-option>
          <mat-option value="18">Lakshadweep</mat-option>
          <mat-option value="19">Madhya Pradesh</mat-option>
          <mat-option value="20">Maharashtra</mat-option>
          <mat-option value="21">Manipur</mat-option>
          <mat-option value="22">Meghalaya</mat-option>
          <mat-option value="23">Mizoram</mat-option>
          <mat-option value="24">Nagaland</mat-option>
          <mat-option value="25">Odisha</mat-option>
          <mat-option value="26">Puducherry</mat-option>
          <mat-option value="27">Punjab</mat-option>
          <mat-option value="28">Rajasthan</mat-option>
          <mat-option value="29">Sikkim</mat-option>
          <mat-option value="30">Tamil Nadu</mat-option>
          <mat-option value="31">Telangana</mat-option>
          <mat-option value="32">Tripura</mat-option>
          <mat-option value="33">Uttar Pradesh</mat-option>
          <mat-option value="34">Uttarakhand</mat-option>
          <mat-option value="35">West Bengal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option value="1">Mumbai</mat-option>
          <mat-option value="2">Delhi</mat-option>
          <mat-option value="3">Bengaluru</mat-option>
          <mat-option value="4">Hyderabad</mat-option>
          <mat-option value="5">Ahmedabad</mat-option>
          <mat-option value="6">Chennai</mat-option>
          <mat-option value="7">Kolkata</mat-option>
          <mat-option value="8">Pune</mat-option>
          <mat-option value="9">Jaipur</mat-option>
          <mat-option value="10">Lucknow</mat-option>
          <mat-option value="11">Kanpur</mat-option>
          <mat-option value="12">Nagpur</mat-option>
          <mat-option value="13">Indore</mat-option>
          <mat-option value="14">Bhopal</mat-option>
          <mat-option value="15">Patna</mat-option>
          <mat-option value="16">Vadodara</mat-option>
          <mat-option value="17">Ludhiana</mat-option>
          <mat-option value="18">Agra</mat-option>
          <mat-option value="19">Nashik</mat-option>
          <mat-option value="20">Faridabad</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="Enter Pincode" formControlName="pinCode" />
      </mat-form-field>

    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">Update</button>
  </div>

  
</form>
